@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Email:</strong> <a href="mailto:yurivitorcf@gmail.com">yurivitorcf@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="http://github.com/yurivitorcf/">github.com/yurivitorcf/</a><br />
</address>
